<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="dashboard">
        <div class="sidebar-brand-icon rotate-n-15">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bag-heart" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5Zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0ZM14 14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1ZM8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
          </svg>
        </div>
        <div class="sidebar-brand-text mx-3">Espace Admin </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" routerLink="dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
         Statistiques
    </div>

  <!-- Nav Item - Statistiques des ventes -->
  <li class="nav-item">
    <a class="nav-link" routerLink="boutiques">
      <i class="fas fa-fw fa-chart-line"></i>
      <span>Les statistiques des ventes</span>
    </a>
  </li>

  <!-- Nav Item - Statistiques des ventes -->
  <li class="nav-item">
    <a class="nav-link" routerLink="boutiques">
      <i class="fas fa-fw  fa-chart-pie"></i>
      <span>Les avis des clients</span>
    </a>
  </li>

  <!-- Nav Item - Statistiques des ventes -->
  <li class="nav-item">
    <a class="nav-link" routerLink="boutiques">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>La durée dans les cabines</span>
    </a>
  </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Services
    </div>
    <!-- Nav Item - boutiques -->
    <li class="nav-item">
      <a class="nav-link" routerLink="boutiques">
        <i class="fas fa-fw  fa-chart-line"></i>
        <span>Gérer les boutiques</span>
      </a>
    </li>
    <!-- Nav Item - Cabines -->
    <li class="nav-item">
      <a class="nav-link" routerLink="cabines">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Gérer les cabines</span>
      </a>
  </li>

    <!-- Nav Item - vendeurs -->
    <li class="nav-item">
      <a class="nav-link" routerLink="vendeurs">
        <i class="fas fa-fw fa-users"></i>
        <span>Gérer les vendeurs</span>
      </a>
    </li>
    <!-- Nav Item - managers -->
    <li class="nav-item">
      <a class="nav-link" routerLink="managers">
        <i class="fas fa-fw fa-user"></i>
        <span>Gérer les managers</span>
      </a>
    </li>
    <!-- Nav Item - commandes -->
    <li class="nav-item">
      <a class="nav-link" routerLink="commandes">
        <i class="fas fa-fw fa-shopping-bag"></i>
        <span>Gérer les commandes</span>
      </a>
    </li>
     <!-- Nav Item - promotions -->
     <li class="nav-item">
      <a class="nav-link" routerLink="promotions">
        <i class="fas fa-fw fa-percent"></i>
        <span>Gérer les promotions</span>
      </a>
    </li>


      <!-- Nav Item - Tables -->
    <li class="nav-item">
      <a class="nav-link" routerLink="tables">
        <i class="fas fa-fw fa-table"></i>
        <span>Tables</span>
      </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
    <!-- <div class="sidebar-card d-none d-lg-flex">
        <img class="sidebar-card-illustration mb-2" src="/assets/img/undraw_rocket.svg" alt="...">
        <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
        <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
    </div> -->

</ul>
