<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header bg-titre1 titre-modal">
      <h1 class=" fs-5 titre1" id="exampleModalLabel">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-patch-plus titre-modal" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
              <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"/>
            </svg>

          <span class="titre-modal">   Ajouter une boutique</span>
       </h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit($event)">
        <div class="row">
          <div class="col-6">
            <label for="exampleInputNom" class="form-label titre1">Nom</label>
            <input type="text" class="form-control" id="exampleInputNom"
            formControlName="nom"
            [class.is-valid]="nom && nom.valid && nom.touched"
            [class.is-invalid]="nom && nom.invalid && nom.touched"
            >
            <div *ngIf="nom && nom.invalid && nom.touched" style="color: red">
              nom est obligatoire
            </div>
          </div>
          <div class="col-6">
            <label for="exampleInputEtab" class="form-label titre1">Etablissement</label>
            <input type="text" class="form-control" id="exampleInputEtab"
            formControlName="etablissement"
            [class.is-valid]="etablissement && etablissement.valid && etablissement.touched"
            [class.is-invalid]="etablissement && etablissement.invalid && etablissement.touched"
            >
            <div *ngIf="etablissement && etablissement.invalid && etablissement.touched" style="color: red">
              L'etablissement est obligatoire
            </div>
          </div>
        </div>
      </form>
      </div>
      <div class="modal-footer">
          <div class="msg" *ngIf="successMsg"><p> La cabine est ajoutée avec succès!</p></div>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button (click)="addBoutiques()" type="button" class="btn  btn-primary">Valider</button>

      </div>
  </div>
  </div>
</div>
